<!DOCTYPE html>
<html >
<head>
  <title></title>
  <!-- <link rel="stylesheet" type="text/css" href="" /> -->
</head>
<body>
  <div id="userName">${USER_NAME}</div>
  <a href="/home">Go to home</a>
    <a href='/logout'>logout</a>
  <div id="todoTitle">Title: ${TODO_TITLE}</div>
  <div id="todoDescription">Description: ${TODO_DESCRIPTION}</div>
  Items:
  <div id="todoItem">${TODO_ITEMS}</div>
</body>
</html>
