<!DOCTYPE html>
<html >
<head>
  <title></title>
  <!-- <link rel="stylesheet" type="text/css" href="" /> -->
  <script type="text/javascript" src='/js/viewAndEditTodo.js'> </script>
</head>
<body onload="addListener()">
  <div id="userName">${USER_NAME}</div>
  <a href="/home.html">Go to home</a>
    <a href='/logout'>logout</a>
  Title: <div id="todoTitle">${TODO_TITLE}</div>
  Description: <div id="todoDescription">${TODO_DESCRIPTION}</div>
  <button onclick="getEditingOption()">edit todo</button><br/>
  Items:
  <div id="todoItem">${TODO_ITEMS}</div>
</body>
</html>
