<!DOCTYPE html>
<html >
<head>
  <title>Flower Catalog</title>
  <!-- <link rel="stylesheet" type="text/css" href="" /> -->
</head>
<body>
  <div id="userName">${USER_NAME}</div>
  <a href="/home">Go to home</a>
  <div id="logoutButton">
    <form action="logout" method="post"><button type="submit">Logout</button></form>
  </div>
  <form action="/saveTodo" method="post">
    <input type="submit" id="saveTodo" value="save" />
    Title:
    <input type="text" name="title" required></input>
    <br>
    Description:
    <textarea rows="5" cols="60" name="description"></textarea>
    <br>
    <button type="button" onclick="addTodoItem()">Add list</button>
    <br>
    <div id="newTodoItem"></div>
  </form>
</form>
</body>
</html>
