<!DOCTYPE html>
<html >
<head>
  <title>Flower Catalog</title>
  <link rel="stylesheet" type="text/css" href="guestBook.css" />
</head>
<body>
  <h1 id="heading">
  <a href="/index.html"><<</a>
  Guest Book
  <h1>
  <hr id="bottomLine"/>
  <div id="userName">${userName}</div>
  <div id="logoutButton">${logout}</div>
  <div id="loginButton">${login}</div>
  <div id="addComment">${addComments}</div>
  <hr />
  DATETIME_NAME_COMMENTS_LIST
  <hr />
  <div id="showComments">${comments}</div>
</body>
</html>
